body{
    background-color:#B0E0E6;
    
}
h1{
    
     font-family:Georgia, 'Times New Roman', Times, serif;
}
  
  h2{
      color:#708090;
    

  }
  h2{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3{
      color: #FFFFFF;
      background-color:#708090;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .container{
      background-color: white;
    
  }
  .abtCont{
      margin-top: 30px;
    
  }
  #about{
      margin-top: 5px;
      color:#708090;
  }
  #name{
      background-color: lightgray;
      margin-top: 5px;
      color:white;
  }
  hr{
      border-bottom: 2px solid grey ;
  }
  #rowcon{
  margin: 0 auto;
  }
  #submit{
      margin-bottom: 10px;
  }
#img{ 
   width: 200px;
   margin-right: 10px;
   margin-bottom: 20px;
  }
  #portfolio{
    margin-top: 5px;
    color:#708090;
  }
  
  div.push {
      margin-bottom: 10rem;
  }
  footer {
      background: lightgrey;
      /* position: absolute;
      bottom: 0; */
      width:100%;
      border-top: 8px solid darkgrey;
      
  }

  .copy {  
    padding: 10px;
    border-top: honeydew;

  }
  #submit{
     float:right;
  }

  /* @media screen and (max-width: 576px) {
    div.push {
      margin-bottom: 2rem;
    }
  } */