body{
    background-color:#B0E0E6
}
h1{
    
     font-family:Georgia, 'Times New Roman', Times, serif
}
  
  h2{
      color:#708090
    

  }
  h2{
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3{
      color: #FFFFFF;
      background-color:#708090;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .container{
      background-color: white;
    
  }
  .abtCont{
      margin-top: 30px;
  }
  #about{
      margin-top: 5px;
      color:#708090;
  }
  #name{
      background-color: lightgray;
      margin-top: 5px;
      color:white;
  }
  hr{
      border-bottom: 2px solid grey ;
  }
  #rowcon{
  margin: 0 auto;
  }
  #submit{
      margin-bottom: 10px;
  }
#img{ 
   width: 200px;
   margin-right: 10px;
   margin-bottom: 20px;
  }
  #portfolio{
    margin-top: 5px;
    color:#708090;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 940%;
    height: 50px;
    background-color:#666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
 }
